<form method="POST" action='/login'>
  <label>Username: </label>
  <input type="text" name="username">
  <br>
  <lable>Password: </label>
  <input type="text" name="password">

  <input type="submit" name="submit" value="submit">
</form>
